.btn {
  padding: 10px;
  margin-bottom: 20px;

  min-width: 120px;

  font-family: Roboto, sans-serif;

  color: white;
  background-color: rgb(179, 174, 174);

  border: none;
  outline: none;
  border-radius: 10px;

  cursor: pointer;
}

.btn:not(:last-child) {
  margin-right: 10px;
}

.btn:hover,
.btn:focus {
  background-color: rgb(162, 240, 188);
  color: black;
}
.btn:hover:nth-child(2n-1),
.btn:focus:nth-child(2n-1) {
  background-color: rgb(134, 131, 131);
  color: black;
}

.btn:hover:last-child,
.btn:focus:last-child {
  background-color: rgb(207, 97, 83);
  color: white;
}
