.statistics {
  text-align: center;

  margin-bottom: 20px;
}

.title {
  margin-bottom: 10px;
  /* padding: 20px; */

  font-size: 30px;
  text-transform: uppercase;
  color: red;
  background-color: white;

  border-radius: 10px;
}

.list {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.item {
  display: flex;
  flex-direction: column;

  min-width: 40px;

  padding: 10px;

  border-radius: 10px;
}

.item:not(:last-child) {
  margin-right: 10px;
}

.item:nth-child(1) {
  background-color: yellow;
}
.item:nth-child(2) {
  background-color: red;
}
.item:nth-child(3) {
  background-color: teal;
}
.item:nth-child(4) {
  background-color: blue;
}
.item:nth-child(5) {
  background-color: floralwhite;
}
